#root {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  margin-bottom: 5rem;
}

button {
  margin: 0px 5px;
}

.container {
  padding: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
}